section.jumbotron.py-4.text-center
  h2.display-4.my-3.py-4 Simple Dynamic DNS
  p.mb-4.lead Easily map your dynamic IP address to a short subdomain in seconds! Great for hosting content on your local internet connection with a dynamic address.
  p
    a(href='/register').btn.btn-lg.btn-success.text-center.mt-1 Sign up now

section.row.details
  .col-lg-6
    h4 Free Service
    p Completely free service with no personal details, tracking, adverts or spam email.

    h4 Cross Platform
    p Deploy with Docker containers for out the box setup or use anywhere Node.js runs.

  .col-lg-6
    h4 100% Open Source
    p Built using open source tools, you can easily customize and run your own service.

    h4 Tiny and Simple
    p With no external tools and a tiny codebase it's easy to make your own modifications.
