section.jumbotron.p-y-2
  h2.display-4.p-y-2 Simple Dynamic DNS
  p.lead Easily map your dynamic IP address to a short subdomain in seconds! Great for hosting content on your local internet connection with a dynamic address.
  p
    a(href='/register').btn.btn-lg.btn-success.text-center.m-t-1 Sign up now

section.row.details
  div.col-lg-6
    h4 Free Service
    p Completely free service with no personal details, tracking, adverts or spam email.

    h4 Cross Platform
    p Deploy with Docker or Vagrant for out the box setup or use anywhere Node.js runs.

  div.col-lg-6
    h4 Tiny and Simple
    p With no external tools and a tiny codebase it's easy to make your own modifications.

    h4 100% Open Source
    p Built using open source tools, you can easily customize and run your own service.
