extends layout

block head
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300')
block content
  main.container.m-t-3.m-x-6
    h1.display-3.m-b-3 #{title}

    a(href='https://github.com/JoeBiellik/dynamicdns')
      img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png', alt='Fork me on GitHub')

    p #{text}

  script(src='https://code.jquery.com/jquery-2.2.2.min.js')
  script(src='/main.js')
