extends layout

block nav
  li.nav-item
    a(href='/').nav-link Home
  li.nav-item
    a(href='/register').nav-link Register
  li.nav-item
    a(href='/about').nav-link About

block content
  section.jumbotron.p-a-3
    form.text-md-left
      div.form-group
        input(type='email', placeholder='Email Address', required, autofocus)#inputEmail.form-control.form-control-lg
      div.form-group
        input(type='password', placeholder='Password', required)#inputPassword.form-control.form-control-lg

      button(type='submit').btn.btn-lg.btn-primary.btn-block Login
