extends layout

block nav
  li.nav-item
    a(href='/').nav-link Home
  li.nav-item
    a(href='/login').nav-link Login
  li.nav-item
    a(href='/about').nav-link About

include ./mixins/textbox

block content
  section.jumbotron.p-a-3
    form(method='post', action='/register').text-md-left
      if errors && errors.sub
        div.form-group.input-group-lg.has-danger
          div.input-group
            +textbox('text', 'sub', 'Subdomain', '2 to 63 characters; lowercase letters, numbers, dashes (-) and underscores (_). May not start with a dash', '^[a-z0-9_][a-z0-9_-]{0,61}[a-z0-9_]$', 'required', 'autofocus', '.' + domain, errors.sub)
      else
        div.form-group.input-group-lg
          div.input-group
            +textbox('text', 'sub', 'Subdomain', '2 to 63 characters; lowercase letters, numbers, dashes (-) and underscores (_). May not start with a dash', '^[a-z0-9_][a-z0-9_-]{0,61}[a-z0-9_]$', 'required', 'autofocus', '.' + domain, false)

      if errors && errors.email
        div.form-group.input-group-lg.has-danger
          +textbox('email', 'email', 'Email Address', null, null, 'required', null, false, errors.email)
      else
        div.form-group.input-group-lg
          +textbox('email', 'email', 'Email Address', null, null, 'required', null, false, false)

      if errors && errors.password
        div.form-group.input-group-lg.has-danger
          +textbox('password', 'password', 'Password', 'Minimum 8 characters', '^.{8,}$', 'required', null, false, errors.password)
      else
        div.form-group.input-group-lg
          +textbox('password', 'password', 'Password', 'Minimum 8 characters', '^.{8,}$', 'required', null, false, false)

      if errors && errors.password_confirm
        div.form-group.input-group-lg.has-danger
          +textbox('password', 'password_confirm', 'Password Confirm', 'Minimum 8 characters', '^.{8,}$', 'required', null, false, errors.password_confirm)
      else
        div.form-group.input-group-lg
          +textbox('password', 'password_confirm', 'Password Confirm', 'Minimum 8 characters', '^.{8,}$', 'required', null, false, false)

      button(type='submit').btn.btn-lg.btn-primary.btn-block Register
