extends layout

block nav
  li.nav-item
    a(href='/').nav-link Home
  li.nav-item
    a(href='/login').nav-link Login
  li.nav-item
    a(href='/about').nav-link About

block content
  section.jumbotron.p-a-3
    form(method='post', action='/register').text-md-left
      div.form-group.input-group.input-group-lg
        input(type='text', placeholder='Subdomain', name='sub', title='Lowercase letters, numbers and dashes (-)', pattern='([a-z0-9-])+', required)#inputSubdomain.form-control.form-control-lg
        span.input-group-addon .#{domain}
      div.form-group
        input(type='email', placeholder='Email Address', name='email', required, autofocus)#inputEmail.form-control.form-control-lg
      div.form-group
        input(type='password', placeholder='Password', name='password', required)#inputPassword.form-control.form-control-lg
      div.form-group
        input(type='password', placeholder='Password Confirm', name='password_confirm', required)#inputPasswordConfirm.form-control.form-control-lg
      button(type='submit').btn.btn-lg.btn-primary.btn-block Register
