include textbox

mixin edit-form(type, name, placeholder, value, title, pattern, autofocus, addon, password, error)
  form(method='post', action='/')
    .form-group.row(class=(error ? 'has-danger' : ''))
      if error && addon
        .col-sm-9
          .input-group
            +textbox(type, name, placeholder, value, title, pattern, 'required', autofocus, null, addon, null)
          .alert.alert-danger #{error}
        if !password
          .col-sm-3
            button.btn.btn-outline-secondary.btn-block.text-dark(type='submit') Change
      if error && !addon
        .col-sm-9
          +textbox(type, name, placeholder, value, title, pattern, 'required', autofocus, null, null, error)
        if !password
          .col-sm-3
            button.btn.btn-outline-secondary.btn-block.text-dark(type='submit') Change
      if !error
        .col-sm-9
          .input-group
            +textbox(type, name, placeholder, value, title, pattern, 'required', autofocus, null, addon, null)
        if !password
          .col-sm-3
            button.btn.btn-outline-secondary.btn-block.text-dark(type='submit') Change
    if password
      .form-group.row.mb-0
        .col-sm-9
          +textbox(type, 'password_confirm', 'Confirm', '', title, pattern, 'required', null, null, null, null)
        .col-sm-3
          button.btn.btn-outline-secondary.btn-block.text-dark(type='submit') Change
