include textbox

mixin edit-form(type, name, placeholder, value, title, pattern, autofocus, addon, error)
  form(method='post', action='/')
    div.form-group.row(class=(error ? 'has-danger' : ''))
      if error && addon
        div.col-sm-9
          div.input-group
            +textbox(type, name, placeholder, value, title, pattern, 'required', autofocus, null, addon, null)
          div.alert.alert-danger #{error}
        div.col-sm-3
          button(type='submit').btn.btn-secondary.btn-block Change
      else
        div.col-sm-9(class=(addon ? 'input-group' : ''))
          +textbox(type, name, placeholder, value, title, pattern, 'required', autofocus, null, addon, null)
        div.col-sm-3
          button(type='submit').btn.btn-secondary.btn-block Change
