include textbox

mixin register-textbox(type, name, placeholder, value, title, pattern, autofocus, addon, error)
  if addon
    if error
      div.form-group.input-group-lg.has-danger
        div.input-group
          +textbox(type, name, placeholder, value, title, pattern, 'required', autofocus, 'form-control-lg', addon, null)
        div.alert.alert-danger #{error}
    else
      div.form-group.input-group-lg
        div.input-group
          +textbox(type, name, placeholder, value, title, pattern, 'required', autofocus, 'form-control-lg', addon, false)
  else
    if error
      div.form-group.input-group-lg.has-danger
        +textbox(type, name, placeholder, value, title, pattern, 'required', autofocus, 'form-control-lg', addon, error)
    else
      div.form-group.input-group-lg
        +textbox(type, name, placeholder, value, title, pattern, 'required', autofocus, 'form-control-lg', addon, false)
